body {
    color: rgb(200, 200, 200);
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

#title-bar {
    padding-top: 0.5em;
}

.long {
    height: 100%;
}

.page-center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.personal-rant {
    background-color: rgb(200, 200, 200);
    color: black;
    padding: 1em;
    border-style: double;
}

.box {
    background-color: rgb(200, 200, 200);
    color: black;
    padding: 1em;
    margin-top: 1em;
    border-style: double;
    overflow: auto;
}

.intro img {
    float: left;
    margin-right: 1em;
    height: 5em;
}

.article img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box a {
    color: black;
}

.box a:hover {
    color: black;
}

.box a:visited {
    color: black;
}

.curve {
    border-radius: 0.5em;
}