  <meta charset="utf-8">
  <meta name="description" content="Homepage of software developer Johnny Morrice">
  <meta name="keywords" content="programming,hacking,computers,fractals,startups">
  <meta name="author" content="John Thorbjorn Morrice">

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
