<!DOCTYPE html>
<html>
  <head>
  {{ partial "header.html" .}}
  <title>The Homepage of Johnny Thorbjorn Morrice, Esq.</title>
  </head>
  <body>
    <h1 id="title-bar" class="page-center">The Homepage of Johnny Thorbjorn Morrice, Esq.</h1>

    <p id="greeting" class="page-center"><em>Greetings, my friend.<br>
We are all interested in the future, for that is where you and I are going  to spend the rest of our lives.<br>
And remember my friend, future events such as these will affect you in the  future.<br>
You are interested in the unknown, the mysterious, the unexplainable.<br>
That is why you are here.</em></p>

    <p id="about" class="curve personal-rant page-center">My name is Johnny Thorbjorn Morrice.<br><br>I am a software developer from Scotland.<br><br>Mail to john at the domain functorama full stop com</p>

    <h2 id="wares" class="page-center">My open source projects:</h2>

    {{ range where .Data.Pages "Params.importance" "frontpage" }}
    <div class="curve box intro page-center">
      {{ .Content}}
    </div>
    {{ end }}

    <h2 id="rants" class="page-center">My writings:</h2>
    <div class="page-center intro box curve">
    {{ range where .Data.Pages "Params.importance" "interest"}}
      <p>{{.Date.Format "02-01-2006"}} <a href={{ .Permalink }}>{{.LinkTitle}}</a></p>
    {{ end }}
  </div>
  </body>
</html>
